.body{display: flex;}
.main-content{
    display:flex;
    flex-direction: row;
    gap:5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.block{
    width: 40%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.block-1{ background: rgba(0,0,255,0.5);}
.block-2{ background: rgba(0,0,200,0.5);}
.block-3{ background: rgba(0,0,150,0.5);}
.block-4{ background: rgba(0,0,100,0.5);}
.block-5{ background: rgba(255,0,0,0.5);}
.block-6{ background: rgba(200,0,255,0.5);}
.block-7{ background: rgba(0,255,255,0.5);}